.searchpage {

}
.searchpage__window {
  padding-top: 58px;
}
.searchpage__main {
  width: 40%;
  height: 95vh;
  float: left;
  background-color: white;
  border-left: 1px solid #EAEAEA;
  box-sizing: border-box;
  overflow-x: scroll;
}
.searchpage__map {
  width: 60%;
  height: 95vh;
  position: absolute;
  right: 0;
  background-color: #eee;
}
.searchpage__main__filter__paid {
  height: 60px;
  background-color: #333E44;
  margin: 0 0 0 0;
  padding: 10px 10px;
}
.searchpage__main__filter__paid__toggle {
  border: 1px solid white;
  padding: 10px 15px;
  color: white;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.searchpage__main__filter__paid__toggle:hover {
  border-color: #B6B6B6;
}
.searchpage__main__filter__paid__toggle.active {
  background-color: #12D475;
  border-color: #12D475;
}
.searchpage__main__filter__tags {
  height: 40px;
  background-color: white;
  border-bottom: 1px solid #C9C9C9;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
.searchpage__main__filter__tags:hover {
  background-color: #F8F8F8;
}
.searchpage__main__number {
  margin: 40px 10px 0 0;
}
.searchpage__main__results {

}
.searchpage__main__results__result {
  margin-top: 20px;
}
.searchpage__main__results__result:hover {
  border-color: #D9D9D9;
}
.searchpage__main__results__result__image {
  background-color: #eee;
  background-size: cover;
  border-radius: 4px;
  height: 55px;
  width: 55px;
  margin-bottom: 15px;
}
.searchpage__main__results__result p.bold {
  margin-bottom: 0;
}
.searchpage__main__results__result {
  border-bottom: 1px solid #EAEAEA;
}
